* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #f7f9fc;
}

h1 {
    margin-bottom: 20px;
    color: #2c3e50;
    text-align: center;
}

main {
    margin: 40px;
}

/* Links */
a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Buttons */
button, .btn {
    display: inline-block;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    background-color: #c7c7c7;
}

.green {
    margin-right: 6px;
    background-color: #67b167;
}

.green:hover {
    background-color: #4a8f4f;
}

.editar {
    background-color: #7ec5ff;
}

.editar:hover {
    background-color: #64a4d8;
}

.eliminar {
    background-color: #ff5757;
}

.eliminar:hover {
    background-color: #ff3030;
}

button:hover {
    background-color: #a7a7a7;
}

.btn-primary {
    background-color: #3498db;
    color: white;
}

.btn-primary:hover {
    background-color: #2980b9;
}

.btn-secondary {
    background-color: #95a5a6;
    color: white;
}

.btn-secondary:hover {
    background-color: #7f8c8d;
}

.btn-warning {
    background-color: #f1c40f;
    color: white;
}

.btn-warning:hover {
    background-color: #d4ac0d;
}

/* Container */
.container {
    max-width: 800px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container p {
    margin-bottom: 10px;
}

div label, div input {
    margin-bottom: 10px;
}

/* Form Styles */
form {
    display: inline-block;
    padding: 10px;
}

form select {
    padding: 5px;
}

form .mb-3 {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #2c3e50;
}

form input {
    padding: 7px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

form input:focus {
    border-color: #3498db;
    outline: none;
    box-shadow: 0 0 4px rgba(52, 152, 219, 0.4);
}

.form-edit {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.form-edit label {
    margin-top: 10px;
}

.form-edit input {
    margin-top: 10px;
}

.form-edit textarea {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 100%;
    min-width: fit-content;
    max-height: 100%;
    min-height: fit-content;
}

.form-edit select {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table thead {
    background-color: #2c3e50;
    color: white;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    text-transform: uppercase;
    font-weight: bold;
}

table tbody tr:hover {
    background-color: #f2f2f2;
}

table tbody tr td {
    align-items: center;
}

/* Card Styles */
.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card h5 {
    margin-bottom: 10px;
    font-size: 1.25rem;
    color: #2c3e50;
}

.card p {
    font-size: 1rem;
    color: #555;
}

.container > a {
    margin-right: 10px;
}

.container form {
    margin-top: 20px;
}

